<div class="container">
  <br>
  <center><h3>Statistiques</h3></center>
  <hr>
  <br>

  <div class="container">

    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Nombre de membres
        <span class="badge-primary badge-pill"><%=number_with_delimiter(@total)%> membres</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Age moyen
        <span class="badge-primary badge-pill"><%=@average%> ans</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Le plus vieux membre de la tribu
        <span class="badge-primary badge-pill"><%=@oldest%> ans</span>
      </li>
    </ul>

    <br>
    <br>

    <h5>Nombre de naissance par années</h5>
    <!-- line_chart with gem chartkick  -->
    <%= line_chart @chart_hash %>

    <br>
    <br>

  </div>