<footer class="footer">
  <div class="container">
      <center>
        <a href="#top">Back to top</a>
        <p>Dynastipi - Exercice technique - Emilie Marjollet</p>
      </center>
  </div>
</footer>
